html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.App {
  /* text-align: center; */
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./assets/fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url(./assets/fonts/MyriadPro-Light.otf);
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url(./assets/fonts/MyriadPro-Bold.otf);
}
